<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon>Teatro de Operaciones
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/venta']">
            <mat-icon class="sidenav-icon">monetization_on</mat-icon>Venta
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/orden']">
            <mat-icon class="sidenav-icon">assignment</mat-icon>Ordenes
        </a>
        <!--<a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen1']">
            <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Screen1' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen2']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Screen2' | translate }}
        </a>-->
    </mat-nav-list>
</div>
