<mat-card>
  <mat-card-header>
      <mat-card-title>Venta</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div class="mb-20" fxLayout.lt-md="column" fxFlex fxLayoutGap="50px">
        <!--<div div fxLayout="row">
            <mat-form-field class="margear-datepickers">
                <input matInput [matDatepicker]="pickerInicio" [min]="fechaActual" [(ngModel)]="nuevoCalendario.inicioCalendario" placeholder="Fecha de inicio" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicio disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="margear-datepickers">
                <input matInput [matDatepicker]="pickerFinalizacion" [min]="nuevoCalendario.inicioCalendario" [(ngModel)]="nuevoCalendario.finCalendario" placeholder="Fecha de finalización" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerFinalizacion"></mat-datepicker-toggle>
                <mat-datepicker #pickerFinalizacion disabled="false"></mat-datepicker>
            </mat-form-field>             
        </div>-->
        <div div fxLayout="row">
          <mat-form-field style="width: 100%;" placeholder="Articulo">
            <mat-select [(ngModel)]="articuloSeleccionado" name="food">
                <mat-option *ngFor="let articulo of articulos" [value]="articulo">
                  {{articulo.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div div fxLayout="row">
            <mat-form-field>
                <mat-select placeholder="Almacen" name="almacen" [(ngModel)]="almacenVenta">
                  <mat-option *ngFor="let alm of articuloSeleccionado.almacen" [value]="alm">
                    {{alm.codigoAlmacen}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input type="text" placeholder="Unidad" [value]="articuloSeleccionado.unidadCompra" disabled="true" aria-label="Number" matInput>
              </mat-form-field>
              <mat-form-field *ngIf="almacenVenta">
                <input type="number" placeholder="Balance Actual" [value]="almacenVenta.balanceActual" disabled="true" aria-label="Number" matInput>
              </mat-form-field>
              <mat-form-field *ngIf="almacenVenta">
                <input type="number" placeholder="Salida de Inventario" [max]="almacenVenta.balanceActual" [min]="1" [(ngModel)]="ventaEnAlmacen.balanceActual" aria-label="Number" matInput>
              </mat-form-field>                                                       
        </div>
      </div>
  </mat-card-content>
  <mat-card-actions>
      <button class="boton-amarillo" mat-button (click)="agregarVenta()">Vender</button>
      <!--<button class="boton-amarillo" mat-button *ngIf="actualizar" (click)="actualizarCalendario()">Actualizar</button>-->
      <button class="boton-rojo" mat-button (click)="cancelar()">Cancelar</button>  
  </mat-card-actions>
</mat-card>
